
:host {
  overflow: scroll;
  position: relative;
}

:host > div {
  padding-right: 1em;
}

.loader-overlay {
  background-color: rgba(255, 255, 255, .6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

img {
  max-width: 100%;
  height: auto;
}

img:not(:first-child) {
  margin-top: 1em;
}
