mat-toolbar {
  position: relative;
}

.chat-wrapper {
  position: absolute;
  right: 1em;
  bottom: 1em;
  z-index: 1000;
}

:host .mat-toolbar.mat-primary {
  background-color: transparent;
  color: white;
  // border-bottom: 1px solid white;
  // background-color: black;
}

