form {
  padding-top: 1em;
}

form > div:last-child {
  // border-bottom: 1px solid #ccc;
}

.search-field {
  padding: 0 .5em;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  border: none;
  outline: none;
  border-bottom: 1px solid lightgray;
  padding: 0 1em 1em 1em;
}

label {
  display: none;
}

form > button {
  display: none;
}

a, .login {
  float: right;
  background-color: #ccc;
  padding: .5em 1.25em;
  text-decoration: none;
  color: #666;
  position: relative;
  top: -.5em;
  right: .5em;
  cursor: pointer;

  &:hover {
    color: black;
  }

}
