:host {
  background-color: black;
  padding: .5em 1em;
  color: white;
  font-size: 1.2em;
}

a, .login {
  color: white;
  font-size: small;
  text-decoration: none;
  border-bottom: 1px solid white;
  &:hover {
    border-bottom: none;
  }
}

nav {
  float: right;
  position: relative;
  top: -2px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
