
.spacer {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.brand {
  color: black;
  padding-right: 1em;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: lighter;
  font-style: serif;
}
