<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="detailsFormGroup">
      <form [formGroup]="detailsFormGroup">
        <ng-template matStepLabel>Fill out ad details</ng-template>
        <mat-form-field>
          <input matInput placeholder="Title" formControlName="title" required>
        </mat-form-field>
        <div>
          <label for="description">Description *</label>
          <textarea formControlName="description" name="description" required></textarea>
        </div>
        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form [formGroup]="locationFormGroup">
        <ng-template matStepLabel>Fill out location</ng-template>
        <mat-form-field>
            <input matInput placeholder="Location" [matAutocomplete]="auto" formControlName="location">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCity">
              <mat-option *ngIf="isLoadingCities" class="is-loading">Loading...</mat-option>
              <ng-container *ngIf="!isLoadingCities">
                <mat-option *ngFor="let city of cities" [value]="city">{{ city.city }}, {{ city.stateId }}</mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Add photos</ng-template>
      <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label>Drag and Drop photos here</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" (click)="createAd()">Create Ad</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Creating Ad</ng-template>
      <div>
        <mat-spinner></mat-spinner>
      </div>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" (click)="stepper.reset()">Try Again</button>
      </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Ad Created</ng-template>
        Ad has been created.
      </mat-step>
  </mat-horizontal-stepper>
  <div *ngIf="displayOverlay" class="loader-overlay"></div>
